<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ElevateHome</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>register.jsp</welcome-file>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>contact.jsp</welcome-file>
    <welcome-file>contact.jsp</welcome-file>
  	<welcome-file>aboutUs.jsp</welcome-file>
  	<welcome-file>userProfile.jsp</welcome-file>
  	<welcome-file>adminDashboard.jsp</welcome-file>
  	<welcome-file>userDatabase.jsp</welcome-file>
  	<welcome-file>productDatabase.jsp</welcome-file>
  	<welcome-file>categoryDatabase.jsp</welcome-file>
  	
  	
  </welcome-file-list>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/css/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/resources/*</url-pattern>
</servlet-mapping>


<filter>
  <filter-name>AuthenticationFilter</filter-name>
  <filter-class>com.elevateHome.filter.AuthenticationFilter</filter-class>
</filter>

<filter-mapping>
  <filter-name>AuthenticationFilter</filter-name>
  <url-pattern>/admin/*</url-pattern>  <!-- Protect all admin pages -->
  <url-pattern>/home.jsp</url-pattern>  <!-- Protect the home page -->
</filter-mapping>



  
</web-app>